@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --app-primary-color: rgb(255, 93, 4);
  --app-primary-dark-color: rgb(255, 61, 10);
  --app-primary-shadow-color: rgba(255, 93, 4, 0.5);
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > * {
    font-family: "Titillium Web", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #ffffff;
}

.chrome-picker {
  > * {
    font-family: "Titillium Web", sans-serif !important;
  }
}

.btn {
  border-radius: 0px;
}
